* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: auto;
}

body {
    font-family: "ubuntu", sans-serif;
    
}

/*------- Navbar -----------*/

.navbar-brand {
    font-size: 30px;
}

.navbar-nav {
    font-size: 20px;
}

/* Contact Form start */

.modal-content {
  height: 477px;
}

.modal-title {
  padding-left: 2rem;
  width: 100%;
}

.modal-body form {
    width: 100%;
}

.contact-form {
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #20234e;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  color: #20234e;
  background-color: #fafafa;
  border: 2px solid #20234e;
  border-radius: 23px;
  text-transform: none;
}

.btn:hover {
  background-color: #20234e;
  color: #fafafa;
}

/* Contact Form end */


/*----------- Jumbotron -------------*/
.callout-container {
    height: 100vh;

    background: url("../images/new-york.jpg") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container img {
    max-width: 100%;
}

.content-container {
  padding: 0 30px 30px;
}

.content-wrapper {
  background-color: #fafafa;
}

#logo{
opacity:0;
transition: 1s;
transition-delay: 5s;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    text-align: center;
    color: #f4da48;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6) ;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px; 
}

.jumbotron .lead {
    margin: 25px 0;
    color: #f4da48;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #fff;
}

/*---------- About Modal ---------------*/
.modal-content {
  padding: 20px;
}

.modal-header {
    text-align: center;
  border-bottom: none;
  padding: 20px;
}

.modal-title {
    text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #636363;
}

.modal-body p {
  color: #636363;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 0 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}

.modal-body .about-img {
  max-width: 50%;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn {
  background-color: #636363;
  color: #fffded;
  padding: 15px 30px;
  letter-spacing: 5px;
}

.modal-footer .btn:hover {
  background-color: #2e2e2e;
  border: none;
}

/* Destination Hero Images start */

.hero-image-container {
  padding: 0;
}

.hero-images {
  width: 100%;
  height: 66vh;
  object-fit: cover;
}

.lasvegas-hero-image {
  object-position: 5% 5%;
}

.sanfrancisco-hero-image {
  object-position: 10% 10%;
}

.newyorkcity-hero-image {
  object-position: 20% 20%;
}

/* Destination Hero Images end */


/*------------ American Greats Section -------------*/

.places-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.section_title {
    color: #fff;
    margin-bottom: 50px;
}

.popular_places_area {
    padding-top: 142px;
    padding-bottom: 150px;
    background: url("assets/images/yosemite.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popular_places_area .single_place {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px #181822;
}




.popular_places_area .single_place .thumb {
    position: relative;
    overflow: hidden;
}

.popular_places_area .single_place .thumb .prise {
    position: absolute;
    background: #1EC6B6;
    padding: 7px 18px 4px 18px;
    display: inline-block;
    top: 20px;
    left: 20px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_places_area .single_place .place_info {
    padding: 27px 20px 25px 20px;
}

.rating_days i {
    color: #f4da48;
}

.days i {
    color: grey;
}

.place_info a {
    color: #000;
}

.place_info a:hover {
    color: #1EC6B6;
}


/* Dropdown menu start */

#dropdownMenuButton {
  width: 60%;
  margin-bottom: 30px;
  padding: 5px;
}

.dropdown-menu {
  width: 60%;
  background-color: #fafafa;
}

.dropdown-toggle {
  background-color: #fafafa;
  border: 2px solid #20234e;
  color: #20234e;
  border-radius: 23px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-toggle:hover {
  background-color: #20234e;
  color: #fafafa;
}

.dropdown-item {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item:hover {
  color: #fafafa;
  background-color: #20234e;
  border-radius: 0px;
}

/* Dropdown Menu end */

/* Map start */

#map-view {
  width: 100%;
  height: 480px;
  background-color: grey;
  
}

.map-tabs {
  width: 50%;
  height: 100%;
  padding: 0;
  margin-bottom: 30px;
}

.map-tabs .nav-link {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  color: #20234e;
  font-weight: 400;
  border-radius: 23px 0 0 23px;
  border: 2px solid #20234e;
  padding: 5px;
}

.map-tabs:first-of-type .nav-link {
  border-radius: 23px 0 0 23px;
}

.map-tabs:last-of-type .nav-link {
  border-radius: 0 23px 23px 0;
}

.map-tabs .active {
  background-color: #20234e !important;
  color: #fafafa !important;
}

/* Map end */

/* Results table start */
.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-text {
  font-family: "Ubuntu", sans-serif;
  color: #20234e;
  text-transform: capitalize;
}

.results-height {
  position: relative;
  height: 480px;
}

#resultsTable {
 display: block;
  overflow: scroll;
  height: 480px;
  margin-bottom: 0px;
}

.odd {
  background-color: #fefefe;
}

.even {
  background-color: #1EC6B6;
}

/* Results table end */

/* Info Window start */

#info-window {
    max-width: 300px;
}

#info-window th,
#info-window tr {
  padding: 5px;
}

#info-window img {
  height: 20px;
}

/* Info Window end */


/*------- Footer --------*/

.social-media-icons {
  padding: 0;
  font-size: 0;
  margin: 0 auto 20px auto;
  max-width: 300px;
}

.social-media-icons li {
  width: 25%;
}

.social-media-icons li i {
  font-size: 20px;
  line-height: 1.5;
  color: #1b1b1b;
  margin-top: 5px;
}

.social-media-icons li i:hover {
  color: #00a6e6;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.social-media-icons li i:hover {
  transform: scale(1.5);
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
    color: #636363;
    margin-left: 2px;
    margin-right: 2px;
}

.footer-links a:hover {
    color: #2e2e2e;
}




/*----- button ---------*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    
    
}

.btn--red {
    color: white;
    background-color: #3b3140;
    border-color: #219ab3;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #219ab3;
    border-color: #219ab3;
}

/*------ Media Queries ----------*/


@media (min-width: 768px) {
  .content-container {
    padding: 0 0 30px;
  }

  #map-view,
  #list-view {
    display: block;
    opacity: 1;
  }
}