* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ubuntu", sans-serif;
    
}

/*------- Navbar -----------*/

.navbar-brand {
    font-size: 30px;
}




/*----------- Jumbotron -------------*/
.callout-container {
    height: 100vh;

    background: url("../images/new-york.jpg") no-repeat bottom right fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container img {
    max-width: 100%;
}

#logo{
opacity:0;
transition: 1s;
transition-delay: 4.5s;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    text-align: center;
    color: #f4da48;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6) ;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px; 
}

.jumbotron .lead {
    margin: 25px 0;
    color: #f4da48;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #fff;
}

/*------------ Offers & Deals section -------------*/

.places-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.section_title {
    color: #fff;
    margin-bottom: 50px;
}

.popular_places_area {
    padding-top: 142px;
    padding-bottom: 150px;
    background: url("/assets/images/yosemite.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popular_places_area .single_place {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px #181822;
}




.popular_places_area .single_place .thumb {
    position: relative;
    overflow: hidden;
}

.popular_places_area .single_place .thumb .prise {
    position: absolute;
    background: #1EC6B6;
    padding: 7px 18px 4px 18px;
    display: inline-block;
    top: 20px;
    left: 20px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_places_area .single_place .place_info {
    padding: 27px 20px 25px 20px;
}

.rating_days i {
    color: #f4da48;
}

.days i {
    color: grey;
}

.place_info a {
    color: #000;
}

.place_info a:hover {
    color: #1EC6B6;
}

/*----------- Reviews Section ----------------*/

#reviews {
    padding-top: 142px;
    padding-bottom: 150px;
    background: linear-gradient(-100deg,white 50%,purple 50%);
    
}

.review-title {
    padding-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    color: #000;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.img-text {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #262626;
    color: #fff;
    border-radius: 15px;
}

.img-text h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img-text p {
    font-size: 14px;
}

.single-box {
    position: relative;
    margin-bottom: 30px;    
}

.img-area {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 15px;
    left: 125px;
    border-radius: 50%;
}

.img-area img {
    width: 100%;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators li {
    background: #000;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.carousel-indicators :active {
    background: #fff;
}


/* Destination Hero Images start */

.hero-image-container {
  padding: 0;
}

.hero-images {
  width: 100%;
  height: 66vh;
  object-fit: cover;
}

.sydney-hero-image {
  object-position: 90% 50%;
}

.melbourne-hero-image {
  object-position: 80% 80%;
}

.brisbane-hero-image {
  object-position: 50% 70%;
}

/* Destination Hero Images end */

/* Quotes start */

.blockquote-footer::before {
  content: "";
}

/* Quotes end */

/* Dropdown menu start */

#dropdownMenuButton {
  width: 60%;
  margin-bottom: 30px;
  padding: 5px;
}

.dropdown-menu {
  width: 60%;
  background-color: #fafafa;
}

.dropdown-toggle {
  background-color: #fafafa;
  border: 2px solid #20234e;
  color: #20234e;
  border-radius: 23px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-toggle:hover {
  background-color: #20234e;
  color: #fafafa;
}

.dropdown-item {
  color: #20234e;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item:hover {
  color: #fafafa;
  background-color: #20234e;
  border-radius: 0px;
}

/* Dropdown Menu end */

/* Map start */

#map-view {
  width: 100%;
  height: 480px;
  background-color: grey;
  margin-left: 100px;
}

.map-tabs {
  width: 50%;
  height: 100%;
  padding: 0;
  margin-bottom: 30px;
}

.map-tabs .nav-link {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  color: #20234e;
  font-weight: 400;
  border-radius: 23px 0 0 23px;
  border: 2px solid #20234e;
  padding: 5px;
}

.map-tabs:first-of-type .nav-link {
  border-radius: 23px 0 0 23px;
}

.map-tabs:last-of-type .nav-link {
  border-radius: 0 23px 23px 0;
}

.map-tabs .active {
  background-color: #20234e !important;
  color: #fafafa !important;
}

/* Map end */

/* Results table start */

.results-height {
  position: relative;
  height: 480px;
}

#resultsTable {
  display: block;
  overflow: scroll;
  height: 480px;
  margin-bottom: 0px;
}

.odd {
  background-color: #fafafa;
}

.even {
  background-color: #c2dfff;
}

/* Results table end */

/* Info Window start */

#info-window {
    max-width: 300px;
}

#info-window th,
#info-window tr {
  padding: 5px;
}

#info-window img {
  height: 20px;
}

/* Info Window end */


/*------- Footer --------*/
.footer-row {
    height: 10px;
}

.socials {
    position: relative;
    bottom: 3rem;
    text-align: center;
    list-style: none;
    font-size: 1.5em;
    width: 100%;
    margin: 0 -15px;
}

.socials li {
    display: inline-block;
    margin: 5%;
}



/*----- button ---------*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    
    
}

.btn--red {
    color: white;
    background-color: #3b3140;
    border-color: #219ab3;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #219ab3;
    border-color: #219ab3;
}