* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ubuntu", sans-serif;
    
}

/*------- Navbar -----------*/

.navbar-dark .navbar-nav .nav-link {
    color: #f4da48;
    text-transform: uppercase;
    font-weight: 500;

}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}



.dropdown-menu {
    background: #3b3140;
}

.dropdown-menu a {
    color: #f4da48;
    font-size: 1.2rem;
}

/*----------- Jumbotron -------------*/
.callout-container {
    height: 100vh;

    background: url("../images/new-york.jpg") no-repeat bottom right fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container img {
    max-width: 100%;
}

#logo{
opacity:0;
transition: 1s;
transition-delay: 4.5s;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    text-align: center;
    color: #f4da48;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6) ;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px; 
}

.jumbotron .lead {
    margin: 25px 0;
    color: #f4da48;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #fff;
}

/*------------ Offers & Deals section -------------*/

.places-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.section_title {
    color: #fff;
    margin-bottom: 50px;
}

.popular_places_area {
    padding-top: 142px;
    padding-bottom: 150px;
    background: url("/assets/images/yosemite.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popular_places_area .single_place {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px #181822;
}




.popular_places_area .single_place .thumb {
    position: relative;
    overflow: hidden;
}

.popular_places_area .single_place .thumb .prise {
    position: absolute;
    background: #1EC6B6;
    padding: 7px 18px 4px 18px;
    display: inline-block;
    top: 20px;
    left: 20px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    color: #fff;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_places_area .single_place .place_info {
    padding: 27px 20px 25px 20px;
}

.rating_days i {
    color: #f4da48;
}

.days i {
    color: grey;
}

.place_info a {
    color: #000;
}

.place_info a:hover {
    color: #1EC6B6;
}


/*----- button ---------*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    
    
}

.btn--red {
    color: white;
    background-color: #3b3140;
    border-color: #219ab3;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #219ab3;
    border-color: #219ab3;
}